<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>
      New Rental
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-input style="margin:0 15px" placeholder="location">Let us know where your rental is located.</ion-input>


  
    <ion-input style="margin:0 15px" placeholder="price">What is the price of your rental?</ion-input>
  

  
    

    <div style="margin:0 15px" >Input dates of rental availability:</div> 

    <ion-card>
        <ion-label style="margin:0 15px">Available from</ion-label>
        <ion-datetime style="margin:0 15px"> displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
      </ion-card>

      <ion-card>
          <ion-label style="margin:0 15px">Available until</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate2"></ion-datetime>
        </ion-card>
      

    <ion-button expand="full" size="default" shape="round">Upload new rental</ion-button>

</ion-content>
